html * {
  font-family: monospace;
  /* z-index: 999; */
}


/* thead {
  background-color: rgb(189, 189, 189) !important;
  font-weight: bolder;
} */

.btn-danger {
  background-color: rgb(166, 0, 0) !important;
}

/* .btn-secondary {
  background-color: #fff !important;
  color: rgba(3, 30, 103, 1) !important;
  --bs-btn-hover-color: #8dbcf3 !important;
} */


/* .btn-info {
  background-color: rgba(3, 30, 103, 1) !important;
  font-weight: bold !important;
} */



.btn-primary {
  background-color: #498dd9 !important;
  font-weight: bold !important;
}

#root {
  --bs-primary: rgba(3, 30, 103, 1) !important;
  --bs-blue: rgba(3, 30, 103, 1) !important;
  --bs-link-color: rgba(3, 30, 103, 1) !important;
  --bs-primary-rgb: rgba(3, 30, 103, 1) !important;
  --bs-danger: rgb(227, 0, 0) !important;
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: multiply !important;
  min-height: 100vh;
}

.pagination {
  color: #4679CC !important;
  --bs-pagination-active-bg: #4679CC !important;
  --bs-pagination-color: #4679CC !important;
}


.table-header {
  display: flex;
  flex-direction: row;
  background-color: #498dd9;
}

.table-header-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  border: #282c34;
  border-width: 0.5px;
  border-style: solid;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color:#fff;
}

.packageTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 20px; /* Increase font size */
}

.packageTable th, .packageTable td {
  border: 1px solid #ddd;
  padding: 4px 8px; /* Decrease padding to make rows less tall */
  vertical-align: middle; /* Align content to middle */
  font-size: 24px;
}

.packageTable th {
  background-color: #498dd9 !important;
  text-align: center;
  color: #fff !important;
  font-weight: bold !important;
  
}

.buttonContainer {
  padding: 5px;
  text-align: center;
 
}

.buttonContainer button{
  width: 60px;
}

.detailPackageForm {
  font-size: 20px;
  /* font-weight: bold; */
}

.form-control{
  font-size: 20px  !important;
}

.detailPackageForm label{
  font-size: 24px !important;
  font-weight: bold;
}



.table-body {
  display: flex;
  flex-direction: row;
  background-color: #efeef7;
}

.table-body-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: max-content;
  /* height: max-content; */
  /* max-height: 72px; */
  min-height: 72px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  align-self: flex-start;
  flex-direction: row;
  border: #282c34;
  border-width: 0.5px;
  border-style: solid;
  padding: 10px;
}

/* .table-body-content:hover {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: max-content;
  height: max-content;
  max-height: max-content;
  min-height: 72px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  flex-direction: row;
  border: #282c34;
  border-width: 0.5px;
  border-style: solid;
  padding: 10px;
} */
#button-color button {
  background-color: transparent !important;
}

.master-table tbody {
  width: 100%;
}


.master-table-container-outer {
  display: flex;
  width: 90%;
  flex-direction: column;
  border-width: 2px;
  border-color: #034ea2;
  border-radius: 10px;
  border-style: solid;
  background-color: rgba(219, 235, 255, 0.9) !important;
}

.master-table-container-inner {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-width: 2px;
  border-color: #034ea2;
  border-radius: 10px;
  border-style: solid;
}

.master-table-title-header {
  display: flex;
  flex-direction: row;
  flex: 0;
  background-color: #034ea2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
  align-items: center;
  font-size: 36px;
}

.master-table-title-caption-container {
  display: flex;
  flex: 8;
  padding-left: 10px;
}

.master-table-searchbar-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 50%; */
  padding-bottom: 10px;
}

.master-table-searchbar-textbox {
  display: flex;
  width: 30%;
  /* flex: 8; */
  justify-content: flex-end;
}

.master-table-searchbar-button {
  display: flex;
  /* flex: 0; */
  padding-left: 10px;
}

.master-table-title-action-container {
  display: flex;
  /* flex: 3; */
  padding: 10px;
  justify-content: flex-end;
}

.master-table-title-action-container button {
  /* background-color: #ebebeb !important; */
}
.custom-file-input {
  background-color: #f8f9fa; /* Change this to the desired background color */
  color: #495057;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.form-control::file-selector-button {
  background-color: #007bff !important; /* Change this to the desired button background color */
  color: white !important;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.nav-link:hover{
  color: #fff !important;
  font-weight: bold;
}

.nav-link.active{
  background-color: #498dd9 !important;
  color: #fff !important;
  font-weight: bold;
}


.nav-tabs .nav-link.disabled,
.nav-tabs .nav-link:disabled {
  background-color: gray !important;
  color: #fff;
  font-weight: bold;
}

.nav-tabs .nav-link{
  border-style: solid !important;
  border-color: #498dd9 !important;
}


.packageTableDetail {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; /* Increase font size */
}

.packageTableDetail th {
  border: 1px solid #ddd;
  padding: 4px 8px; /* Decrease padding to make rows less tall */
  vertical-align: middle; /* Align content to middle */
  font-size: 18px;
}

.packageTableDetail td{
  border: 1px solid #ddd;
  padding: 4px 8px; /* Decrease padding to make rows less tall */
  vertical-align: middle; /* Align content to middle */
  font-size: 18px;
}

.packageTableDetail th {
  background-color: #498dd9 !important;
  text-align: center;
  color: #fff !important;
  font-weight: bold !important;
  
}